COMPOSE_PROJECT_NAME=forexapi
POSTGRES_DB=forex
POSTGRES_USER=forex
POSTGRES_PASSWORD=forex_pass
DATABASE_URL=postgresql+psycopg2://forex:forex_pass@db:5432/forex
EXCHANGE_API_URL=https://open.er-api.com/v6/latest/USD
DEFAULT_API_KEY=demo-key
